﻿body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ccc;
}

nav#topMenu ul {
    padding: 0px;
    height: 40px;
    line-height: 30px;
    background-color: #84b3ad;
    text-align: center;
}

nav#topMenu li {
    width: 100px;
    margin: 0 5px;
    padding: 5px 0;
    cursor: pointer;
    color: #ffffff;
    display: inline-block;
}

nav#topMenu li:hover {
        background-color: #135e3e;
        padding: 5px 0;
    }

nav#topMenu a {
    text-decoration: none;
    color: #fff;
}
#Head{
    text-align:center;
}
#Header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:75%;
    height:500px;
}
